body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background-color: #f15a29;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    display: block;
}

.sidebar nav a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.pet-info {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.pet-image {
    max-width: 100%;
    border-radius: 10px;
}

.pet-details {
    margin-left: 20px;
    flex: 1;
}

.pet-details h2 {
    margin-top: 0;
    font-size: 24px;
}

.pet-details p {
    margin: 10px 0;
}
